:root {
    --sky-blue: #006CFA;
    --malachite: #00E165;
}

body {
    color: #fff;
}

.content {
    background-color: var(--sky-blue);
    border: 1px solid #fff;
    height: 50px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-content {
    background-color: var(--malachite);
    border: 1px dashed #000;
    font-size: 12px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-skyblue {
    background-color: var(--sky-blue);
}

h2 {
    margin-bottom: 5px;
    color: #000;
}

.p-15 {
    padding: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}